@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@utility container {
  margin-inline: auto;
 /* width:1200px; */
}

@theme {
    --color-primary: #ffff;
    --color-primary1: #363738;
    --color-secondary: #F5F5F5;
    --color-secondary1: #FEFAF1;
    --color-secondary2: #DB4444;
    --color-text: #FAFAFA;
    --color-text1: #7D8184;
    --color-text2: #000000;
    --color-botton_color1: #00FF66;
    --color-botton_color2: #DB4444;
     --color-hover_color1: #E07575;
     --color-hover_color2: #A0BCE0;

     /* font family */
    --font-poppins: "Poppins", sans-serif;
    --font-inter: "Inter", sans-serif;
}